@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: whitesmoke;
  min-height: 100vh;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */

  /* justify-content: space-between; */

  font-family: "Roboto", sans-serif;
}
h2 {
  margin-bottom: 20px;
}

.radiolabel,
.checklabel {
  margin-right: 80px;
  margin-left: 10px;
  font-size: 15px;
  position: relative;
}

.checklabel::before,
.checklabel::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  /* transition: 250ms transform; */
  transform-origin: bottom center;
}

.checklabel::before {
  --translate-y: calc(-100% - var(--arrow-size) + 1px);
  background: var(--tooltip-color);
  content: attr(datatooltip);
  color: white;

  width: 500px;
  padding: 0.5rem;
  border-radius: 10px;
}
.checklabel::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: " ";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.checklabel:hover::before,
.checklabel:hover::after {
  --scale: 1;
}

.Math,
.Core,
.Electives {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}

.electiveContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.electivechoice {
  width: 350px;
  margin: 4px;
  font-size: 15px;
}

h3 {
  margin-bottom: 10px;
}

.Schedule {
  display: flex;
  flex-direction: row;
  /* border: 1px red solid; */
}
.class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 52px;
  padding: 4px;
  border: black 1px solid;
}

.halfclass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 26px;
  padding: 4px;
  border: black 1px solid;
}
.threequarterclass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 39px;
  padding: 4px;
  border: black 1px solid;
}

.quarterclass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 13px;

  padding: 4px;
  border: black 1px solid;
}
.science {
  background-color: lightgreen;
}
.core {
  background-color: lightblue;
}
.english {
  background-color: lightpink;
}
.math {
  background-color: brown;
}
.half {
  background-color: #a3ff16;
  transition: 0.6s;
  height: 26px;
}

.half:hover {
  background-color: #89e200;
}

.quarter {
  background-color: #a3ff16;
  transition: 0.6s;
  height: 13px;
}
.Schedule .quarter {
  font-size: 11px;
}
.Schedule .quarterclass {
  font-size: 11px;
}

.quarter:hover {
  background-color: #89e200;
}

.full {
  background-color: #e5c062;
  transition: 0.6s;
}
.full:hover {
  background-color: #daa520;
  transition: 0.6s;
}
.column {
  width: 23%;
}
button {
  background-color: lightpink;
  margin: 0.3rem 0.7rem 0.3rem 4rem;
  font-weight: 700;
  width: 15%;
  height: 35px;
  color: black;
  border-radius: 5px;
  border: none;
  transition: 0.6s;
}

button:hover {
  background-color: hsl(172, 67%, 45%);
  transition: 0.6s;
}
.colheader {
  text-align: center;
  margin: 2px;
}

.altclass {
  font-size: smaller;
  margin-left: 40px;
}

.textbox {
  margin-left: 10px;
  width: 100px;
}

.radio-button-wrapper {
  display: inline-block;
  margin-right: 10px; /* Optional: Add some margin to the right of each radio button for spacing */
}
a {
  margin-left: 20px;
}

.marginleft {
  margin-left: 10px;
}
